@use './play_button.module.scss';

.player {
	position: relative;
	display: inline;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5rem;
}

@media (max-width: 1000px) {
	.player {
		margin: unset;
		width: 50%;
		column-gap: 1.5rem;
	}
}

.volume_container {
	position: relative;
	height: 5rem;
	width: 5rem;
}

.volume_container>* {
	--slider-width: 200% !important;
}

.play_button,
.pause_button {
	--button-width: 4rem;
	--button-height: 4rem;
	position: relative;
}