@use "../global.module.scss";

.players {
	position: relative;
	width: var(--player-width);
	border: 0.25rem solid var(--accent-color);
}

@media (max-width: 1000px) {
	.players {
		border: unset;
	}
}

.audio_player {
	padding: 2rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.audio_player p {
	margin-top: 2rem;
}

.video_player {
	height: 100%;
}

.hidden {
	display: none;
	pointer-events: none;
}

.reload_button {
	margin-top: 2rem;
}

.logo {
	position: relative;
	background: transparent;
	width: 100%;
	max-height: 10rem;
	aspect-ratio: 1.5;
}

.logo:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	mask-image: url("/img/wjtb.svg");
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: var(--text-color);
	transition: background-color 0.15s ease-out;
	animation: 3s linear infinite both paused spin;
}

@media (prefers-reduced-motion: no-preference) and (hover: hover) {
	.logo:active:before {
		background-color: var(--text-highlight-color);
		animation: 3s linear infinite both running spin;
	}
}

@keyframes spin {
	0% {
		transform: rotateX(10deg) rotateY(0deg) perspective(10px);
	}
	10% {
		transform: rotateX(10deg) rotateY(20deg) perspective(10px);
	}
	90% {
		transform: rotateX(10deg) rotateY(340deg) perspective(10px);
	}
	100% {
		transform: rotateX(10deg) rotateY(360deg) perspective(10px);
	}
}	