@use "../global.module.scss";

.players {
	position: relative;
	width: var(--player-width);
	border: 0.25rem solid var(--accent-color);
}

@media (max-width: 1000px) {
	.players {
		border: unset;
	}
}

.audio_player {
	padding: 2rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.audio_player p {
	margin-top: 2rem;
}

.video_player {
	height: 100%;
}

.hidden {
	display: none;
	pointer-events: none;
}

.reload_button {
	margin-top: 2rem;
}