@use "./play_button.module.scss";

.player {
	position: relative;
	text-align: center;
	height: 100%;
	overflow: hidden;

	--button-color: var(--video-text-color);
	--button-color-hover: var(--video-text-highlight-color);
	--button-color-active: var(--video-text-highlight-color);
	--button-light-color: var(--video-light-color);
	--button-shadow-color: var(--video-shadow-color);
}

.video {
	display: inline-block;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.play_button,
.pause_button {
	--button-width: 4rem;
	--button-height: var(--button-width);

	position: absolute;
	top: calc(50% - var(--button-height) / 2);
	left: calc(50% - var(--button-width) / 2);
	opacity: 1;
	transition: opacity 0.15s ease-out;
}

@media (max-width: 1000px) {
	.play_button,
	.pause_button {
		--button-width: 4rem;
		--button-height: var(--button-width);
	}
}

.play_button.hidden,
.pause_button.hidden {
	opacity: 0;
	pointer-events: none;
}

.video_shadow {
	position: absolute;
	pointer-events: none;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 0.15s ease-out;
}

.video_shadow.hidden {
	background-color: transparent;
}

.fullscreen_button {
	--button-size: 4rem;

	--button-color: var(--video-text-color);
	--button-color-hover: var(--video-text-highlight-color);
	--button-color-active: var(--video-text-highlight-color);

	position: absolute;
	right: 1rem;
	bottom: 1rem;
	width: var(--button-size);
	height: var(--button-size);

	border: transparent;
	font-size: 0;
	background-color: transparent;
}

@media (max-width: 1000px) {
	.fullscreen_button {
		--button-size: 4rem;
	}
}

.fullscreen_icon {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: var(--button-color);
	transition:
		opacity 0.15s ease-out,
		background-color 0.15s ease-out;
	mask-size: contain;
	mask-repeat: no-repeat;
}

.fullscreen_button:hover .fullscreen_icon,
.fullscreen_button:focus-visible .fullscreen_icon {
	background-color: var(--button-color-hover);
}

.fullscreen_button:active .fullscreen_icon {
	background-color: var(--button-color-active);
}

.fullscreen_button.enabled .fullscreen_icon {
	mask-image: url("svg/no-fullscreen.svg");
}

.fullscreen_button.disabled .fullscreen_icon {
	mask-image: url("svg/fullscreen.svg");
}

.fullscreen_button.hidden {
	opacity: 0;
	pointer-events: none;
}

.volume {
	--button-size: 4rem;

	position: absolute;
	left: 1rem;
	bottom: 1rem;
	width: var(--button-size);
	height: var(--button-size);
	pointer-events: none;
}

@media (max-width: 1000px) {
	.volume {
		--button-size: 4rem;
	}
}
