
.messageUser {
	background: var(--bg2-color);
	border: 2px solid var(--accent-color);
	border-radius: 8px;
	padding: 4px;
}

.message {
	padding: 0 8px;
	margin: 8px 0;
}

.join {
	border-top: 0.25rem solid var(--accent-color);
	padding: 0 8px;
}
