.container {
	width: calc(100svw - var(--player-width));
	position: relative;
	display: flex;
	flex-direction: column;
	border: solid var(--accent-color) 0.25rem;
	border-left: none;
	padding-top: 4px;
	box-sizing: content-box;
	overflow-y: scroll;
}

@media(max-width: 1500px) {
	.container {
		font-size: 1.25rem;
	}
}

.message {
	padding: 0 8px;
	margin: 8px 0;
	max-width: calc(100svw - var(--player-width));
	word-break: break-all;
}

.messageUser {
	background: var(--bg2-color);
	font-weight: 500;
	padding: 4px 4px;
	text-decoration: underline;
}

.join {
	border-top: 0.25rem solid var(--accent-color);
	padding: 0 8px;
}

@media(max-width: 1000px) {
	.container {
		width: 100svw;
		max-height: 16rem;
		border-right: none;
		border-left: none;
	}
	.message {
		max-width: 100svw;
	}
	.join {
		border-top: none;
		font-weight: 500;
	}
}
