@import "../fonts/fortzilla/stylesheet.css";
@import "../fonts/pixel/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.border {
	border-width: 0.125rem;
}

* {
	box-sizing: border-box;
	margin: 0;

	--background: var(--bg2-color);
	--accent: var(--accent-color);
	--accent-foreground: var(--text-highlight-color);
	--destructive: cyan;
	--destructive-foreground: orange;
	--border: red;
	--input: var(--accent-shadow-color);
	--ring: var(--accent2-color);
	--radius: 0.5rem;
}

:root {
	--bg-color: #0d0d0d;
	--bg2-color: #181818;
	--bg3-color: #242424;
	--text-color: #cfcfcf;
	--text-highlight-color: #ffffff;
	--text-shadow-color: #696969;
	--text-light-color: #888888;
	--accent-color: #ce2328;
	--accent-shadow-color: #721114;
	--accent2-color: #eded50;
	--iframe-bg-color: #eeeeee;
	color-scheme: dark;
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
	font-family: system-ui, sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1.8;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	margin: 2rem 0;
	max-width: 70ch;
}

a {
	color: var(--accent2-color);
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	transform: scale(1);
	transition: transform 0.1s ease-in-out;
}

a:focus-visible {
	transform: scale(1.05);
}

@media (hover: hover) {
	a:hover {
		transform: scale(1.05);
	}
}

a:active {
	transform: scale(1);
}

h1 {
	font-family: "Fortzilla", sans-serif;
	color: var(--accent-color);
	font-family: "Fortzilla", sans-serif;
	font-size: 3rem;
	text-shadow: 0.07em 0.07em var(--accent-shadow-color);
	padding: 0.5rem 0rem 0rem;
	line-height: 1.1;
}

h2 {
	font-family: "Pixel", sans-serif;
	color: var(--text-color);
	text-shadow: 0.07em 0.07em var(--text-shadow-color);
	font-size: 2rem;
	padding: 0.5rem 0rem 0rem;
	line-height: 1.1;
}

ol {
	counter-reset: li;
	padding: 0.5rem 2rem;
}

ol li {
	color: var(--text-color);
	font-size: 1.5rem;
	list-style-type: none;
}

ol li::before {
	content: counter(li) ".";
	margin-right: 0.8rem;
	counter-increment: li;
	color: var(--text-light-color);
}
