.players {
	position: relative;
	display: flex;
	margin: auto;
	// video sizing
	--player-width: 70svw;
	//--player-width: calc(max(40svw, 40rem));
	--aspect-ratio: calc(9 / 16);
	height: min(calc(var(--aspect-ratio) * var(--player-width)), 100svh);
}

@media (hover: hover) {
	.tab:hover {
		background: var(--bg2-color);
	}
}

.tab[data-active], .tab[data-selected] {
	background: var(--bg3-color);
}

@media (max-width: 1000px) {
	.players {
		height: unset;
		--player-width: 100svw;
		flex-direction: column;
	}
	.tabGroup {
		width: 100svw;
		max-height: 20rem;
	}
}
