.players {
	position: relative;
	display: flex;
	flex-direction: row;
	// video sizing
	//--player-width: 60vw;
	--player-width: 40vw;
	--aspect-ratio: calc(1/2);
	height: min(calc(var(--aspect-ratio) * var(--player-width)), 100svh);
}

.players>* {
	flex-grow: 1;
}

@media (max-width: 1000px) {
	.players {
		height: unset;
		--player-width: 100vw;
		flex-direction: column;
	}
}
