.container {
	display: flex;
	overflow-x: scroll;
	align-items: center;
	padding: 0 8px;
	padding-right: 16px;
}

.container::-webkit-scrollbar {
    display: none;
}

.show {
	min-width: fit-content;
}

.showBox {
	background: var(--bg2-color);
	border: 0.125rem solid var(--accent-color);
	padding: 0 16px;
	font-size: 1.25rem;
	text-wrap: nowrap;
	white-space: nowrap;
}

.showBoxBelow {
	justify-content: start;
}

.showBoxAbove {
	justify-content: end;
}

.showBoxAbove, .showBoxBelow {
	font-size: 1rem;
	height: 1.25rem;
	line-height: 1.25;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.day {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 1.25rem;
	font-weight: 500;
	display: block;
}

.container hr {
	height: 4rem;
	border-left: 0.25rem solid var(--accent-color);
	margin-left: 8px;
}

.gapBefore {
	margin-left: 16px;
}
