@use "../global.module.scss";

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding: 4rem;
}

.theme {
	background-color: var(--bg2-color);
	margin: auto;
	color: var(--text-color);
	min-width: 20rem;
	padding: 1rem;
	border: 0.25rem solid var(--accent-color);
	border-radius: 1rem;
	margin: 1rem;
}

@media (max-width: 100rem) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 50rem) {
	.container {
		grid-template-columns: repeat(1, 1fr);
		padding: 0;
		column-gap: 0rem;
	}
	.theme {
		min-width: unset;
		width: 100%;
		margin: 0;
		margin-top: 1rem;
	}
}

@media (min-width: 25rem) {
	.container {
		padding: 1rem;
	}
}

.button {
	@extend .styled_button;
	display: block;
	margin: auto;
}