.container {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

@media (min-width: 1000px) {
	.container {
		height: 100%;
	}
}

@media (max-width: 1000px) {
	.container {
		max-height: 10em;
	}
}

.table {
	padding-left: 1rem;
	border-collapse: collapse;
	width: 100%;
}

.day {
	position: relative;
	border-bottom: 0.1rem solid white;
	height: 2em;
}

.show {
	height: 2em;
}

.day::before {
	content: '';
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: var(--bg2-color);
}

.show::before {
	content: '';
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: green;
}

.show:hover {
	background-color: var(--bg3-color);
}

.show_container {
	display: table-row-group;
	position: relative;
	background-color: var(--bg2-color);
	pointer-events: all;
}

.show_container.playing {
	z-index: 5;
}

.show_container.playing::before{
	--margin-size: 10px;
	content: '';
	position: absolute;
	background: linear-gradient(45deg ,#e50000 ,#ff8d00 ,#ffee00 ,#028121,
	#004cff ,#770088);
	background-size: 400%;
	filter: blur(10px);
	opacity: 0.7;
	height: calc(100% + var(--margin-size)*2);
	top: calc(-1 * var(--margin-size));
	width: calc(100% + var(--margin-size)*2);
	left: calc(-1 * var(--margin-size));
	z-index: -1;
	animation: playing-glow-animation 60s linear infinite;
}

@keyframes playing-glow-animation{
	0%{
		background-position: 0 0;
	}
	50%{
		background-position: 400% 0;
	}
	100%{
		background-position: 0 0;
	}
}

.cancelled .show :nth-child(1) {
	text-decoration: line-through;
}

.day>* {
	text-align: left;
}
