.clock {
	margin: 0 auto;
	margin-bottom: 0.25rem;
	font-family: "Pixel", sans-serif;
	color: var(--text-color);
	text-shadow: 0.07em 0.07em var(--text-shadow-color);
	font-size: 1.5rem;
	padding: 0.5rem 0rem 0rem;
	line-height: 1.1;
}
